@import 'reset';


$fontSize:37.5;
@function px2rem($px){
	@return ($px / $fontSize) + rem;
}
@mixin center(){
	display:flex;
	justify-content: center;
	align-items:center;
}

icon{
    color: #333;
    font-size: px2rem(20);
}
/*过渡动画显示前*/ /*过渡动画隐藏后*/
       .slide-down-enter,.slide-down-leave-to{
            /*位移*/
            transform: translate3d(0,-100%,0);
        }
        /*过渡动画显示后*/ /*过渡动画隐藏前*/ /*一般可以不用这两个属性*/
       .slide-down-enter-to,.slide-down-leave，.slide-up-enter-to,.slide-up-leave{
            /*回到原位*/
            transform: translate3d(0,0,0);
        }
        /*过渡动画显示过程*/
       .slide-down-enter-active,.slide-down-leave-active，.slide-up-enter-active,.slide-up-leave-active{
            /*监听所有的动画0.3s 线性动画*/
            transition: all .3s linear;
        }
        
/*显示前  隐藏后*/
    .slide-up-enter,.slide-up-leave-to{
        transform: translate3d(0,px2rem(108),0);
    }
 